#terminal {
  width: 80%;
  margin: 0 auto;
  font-family: monospace, courier, "Lucida Console";
  background-color: #000;
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
  overflow-y: scroll;
  /* Hide scrollbar but allow scrolling */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#terminal::-webkit-scrollbar {
  display: none;
}

#output {
  margin-bottom: 0;
  white-space: pre-wrap; /* Wrap long lines */
}

#prompt {
  display: inline-block;
  font-weight: bold;
  color: #3AADFF; /* Light blue prompt color */
}

#userInput {
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  font-family: monospace; /* Use monospace font */
  margin-left: 5px; /* Add some space between prompt and input */
}






  
body {
  background-color: #fdf9f0;
  font-family: Arial, sans-serif;
  margin: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience-entry {
  margin: 10px 0;
}
.job-title {
  font-weight: bold;
}
.company {
  color: #000000;
  font-style: italic
}
.date-range {
  color: #000000;
}
  